.main-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90%;
  padding-bottom: 50px;
  width: 1500px;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 90%;
  width: 1500px;
}

.contents-container {
  width: 75%;

  @include mq-down(lg) {
    width: 100%;
  }
}

.sidebar-container {
  width: 25%;

  @include mq-down(lg) {
    width: 100%;
  }
}

.section {
  padding: 30px 15px;
}

