.main-inner {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  padding-top: 117px;
  padding-bottom: 50px;
  width: 1500px;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 90%;
  width: 1500px;
}

.contents-container {
  width: 75%;
}

.sidebar-container {
  width: 25%;
}

.section {
  padding: 30px 15px;
}

