.main-inner {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1500px;
}

.contents-container {
  width: 70%;
}

.sidebar-container {
  width: 30%;
}

