.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    border: 1px solid #eaecee;
    display: block;
    margin-bottom: 20px;
    width: 32%;
  }

  &__thumbnail {
    width: 100%;
    padding-bottom: 65%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    color: black;
  }
}