.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  &__item-wrapper {
    display: block;
    width: 32%;
    margin-right: 1%;
    margin-bottom: 15px;

    @include mq-down(lg) {
      margin-right: 2%;
      width: 48%;
    }

    @include mq-down(sm) {
      margin-right: 0;
      width: 100%;
    }
  }

  &__item {
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__thumbnail {
    border-radius: 6px 6px 0 0;
    width: 100%;
    padding-bottom: 65%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__main-area {
    color: #2d2d2d;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 15px 0;
  }

  &__small {
    color: gray;
    font-size: 0.8rem;

    a {
      color: #13c4a5;
    }
  }

  &__excerpt {
    margin-top: 15px;
  }

  &__button-area {
    margin-top: auto;
    padding-top: 15px;
  }

  &__button {
    float: right;
  }
}