h1, h2 {
  font-weight: bold !important;
}

body {
  line-height: 1.5;
}

pre {
  background-color: #f1f1f1;
  overflow: auto;
  padding: 10px 15px;
}

code {
  word-break: break-all;
}

a {
  word-break: break-all;
}
