.banner {

  &__image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__image {
    max-width: 300px;
    width: 100%;

    &--medium {
      max-width: 600px;
      padding: 15px 30px;
    }
  }
}