.button {
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  -ms-flex-pack: center;
  justify-content: center;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;

  &--small {
    border-radius: 2px;
    font-size: .75rem;
  }
}