.comment {
  
  &__item {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }

  &__item-upper {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-weight: bold;
  }

  &__date {
    font-size: 0.85em;
  }

  &__child-container {
    padding-left: 30px;
  }

  &__reply-button {
    align-self: flex-start;
    background: none;
    border: none;
    color: $mint;
    font-size: 0.85em;
    margin: 5px 0;
    padding: 0;
    text-align: left;
  }
}