.comment {
  
  &__item {
    display: flex;
    flex-direction: column;
  }

  &__item-upper {
    display: flex;
    justify-content: space-between;
  }

  &__child-container {
    padding-left: 30px;
  }
}