.footer {
  background-color: $gray900;
  color: $footerWhite;

  &__inner {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;

    @include mq-down(md) {
      flex-direction: column-reverse;
      padding-top: 15px;
    }
  }

  &__column-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__column {
    margin: 0 10px;

    @include mq-down(xl) {
      margin-top: 40px;
      padding-left: 15px;
      width: 40%;
    }

    @include mq-down(md) {
      margin-top: 40px;
      padding-left: 15px;
      width: 100%;
    }
  }

  &__column-title {
    border-bottom: 2px solid $mint;
    color: $footerWhite;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 15px;
    margin-top: 0;
  }

  a {
    color: $footerWhite;
  }

  &__bottom-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 50px;

    @include mq-down(xl) {
      padding: 0 80px;
    }

    @include mq-down(md) {
      padding: 60px 0 30px;
    }
  }

  &__logo-image {
    height: 120px;
    width: 120px;
  }

  &__copyright {
    color: #828282;
    font-size: 0.8rem;
    height: 30px;
    line-height: 30px;
  }
}