.header {
  background-color: white;
  border-bottom: 1px solid rgb(238, 238, 238);
  font-size: 1.1rem;
  position: fixed;
  width: 100%;
  z-index: 10;

  a {
    color: #4a4a4a;
  }

  &__upper {
    border-bottom: 1px solid rgb(238, 238, 238);
    height: 40px;
  }

  &__upper-inner {
    align-items: center;
    display: flex;
  }

  &__subtitle {
    margin: 0 0 0 15px;
  }

  &__main {
    height: 75px;
  }

  &__main-inner {
    display: flex;
  }

  &__logo-link {
    align-items: center;
    display: flex;
  }

  &__logo-image {
    height: 40px;
    margin-left: 15px;
    width: 40px;
  }

  &__logo-text {
    font-size: 1.8rem;
    margin: 0 30px;
  }

  &__link-container {
    align-items: center;
    display: flex;
    margin-left: 20px;
  }

  &__link {
    margin: 0 15px;
  }
}