.header {
  display: flex;
  font-size: 1.1rem;
  height: 60px;
  margin: 0 auto;
  max-width: 90%;
  width: 1500px;

  a {
    color: #4a4a4a;
  }

  &__logo-link {
    align-items: center;
    display: flex;
  }

  &__logo-image {
    height: 35px;
    width: 35px;
  }

  &__logo-text {
    margin: 0 30px;
  }

  &__link-container {
    align-items: center;
    display: flex;
    margin-left: 20px;
  }

  &__link {
    margin: 0 15px;
  }
}