.pagination {
  display: flex;
  justify-content: center;
  margin-right: 30px;

  &__item {
    color: #13c4a5;
    margin: 10px 20px;
  }

  &__dots {
    color: #2d2d2d;
  }

  a {
    color: #2d2d2d;
  }
}