.post-link {
  display: flex;

  &__left {
    padding-right: 10px;
    text-decoration: none !important;
    width: 50%;
  }

  &__right {
    padding-left: 10px;
    text-decoration: none !important;
    width: 50%;
  }

  &__title {
    text-decoration: none;
  }

  &__link-text {
    text-decoration: none;
  }
}