.widget {
  margin-bottom: 50px;
  padding-left: 15px;

  &__title {
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    border-top: 1px solid rgb(233, 233, 233);
    padding: 0.7rem 0;
  }

  li:last-child {
    border-bottom: 1px solid rgb(233, 233, 233);
  }

  a {
    color: #4a4a4a;
  }
}